<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      pictureCover="https://res.cloudinary.com/djhqderty/image/upload/c_scale,f_auto,q_60,w_1024/subexpuesta/yz1xkzwfyvc3fd4fm1rp.jpg"
      cardTitle="Bla bla bla bla bla bla bla"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id odio a metus gravida dignissim sit amet sit amet eros. Fusce eget diam egestas, pulvinar metus non, posuere orci."
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      cardPicture="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKzrO5QvZHXtP4mco7H-TM-8gYJZp9s6pIhg&usqp=CAU"
      cardTitle="Milky Way bla bla bla bla bla bla bla"
    ></app-small-card>

    <app-small-card
      cardPicture="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Saturn_during_Equinox.jpg/800px-Saturn_during_Equinox.jpg"
      cardTitle="Saturn bla bla bla bla bla bla bla"
    ></app-small-card>

    <app-small-card
      cardPicture="https://www.princeton.edu/~willman/planetary_systems/Sol/Jupiter/Jupiter.gif"
      cardTitle="Jupiter bla bla bla bla bla bla bla"
    ></app-small-card>
  </div>
</div>
