<div class="container-big-card">
  <div class="big-card-picture">
    <img src="https://res.cloudinary.com/djhqderty/image/upload/c_scale,f_auto,q_60,w_1024/subexpuesta/yz1xkzwfyvc3fd4fm1rp.jpg" alt="">
  </div>

  <div class="big-card-title">
    <h1>
      <a href="#">Bla bla bla bla bla bla bla</a>
    </h1>
  </div>

  <div class="big-card-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id odio a metus gravida dignissim sit amet sit amet eros. Fusce eget diam egestas, pulvinar metus non, posuere orci.
      </a>
    </p>
  </div>
</div>
